* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.wrapper {
width: 1198px;
margin: 0 auto;
}

.header {
padding: 30px 0 0 0px;
margin: 0 0 50px 0;
}

.menu {
text-align: center;
}

.memu-item {
list-style: none;
display: inline-block;
margin: 0 50px 0 0;
}

.menu-link {
text-decoration: none;
color: black; 
}

.menu-link1 {
    text-decoration: none;
    color: blue; 
    }

.article-title {
margin: 0 0 20px 0;
}

.article {
    display: inline-block;   
    margin: 0 auto;
    width: 420px;
    margin: 0 0 50px 120px;
}

.picture-title {
    padding: 20px 0 0 0;
    margin: 0 0 20px 0;
    color: grey;
}

.button {
    margin: 0 auto;
    display: block;
    width: 100px;
    height: 50px;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid;
}